@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
/* font-family: 'Poppins', sans-serif; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style-type: none;
   
}
a{
    text-decoration: none;
    display: inline-block;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}

.header{
    background-color:#EAAE00 ;
}

.header .container{ 
    background-color: #EAAE00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.header-logo{
    width: 100%;
}

.mode{
    display: flex;
    align-items: center;
}
.mode li a{
    padding: 10px 20px;
    display: inline-block;
    font-size: 29px;
    font-weight: 500;
}
.mode li:nth-child(4){
    margin-right: 50px;

}
.input{
    width: 275px;
    height: 50px;
    background-color: #FFC400;
    border: none;
    padding: 0 14px;
}
.input::placeholder{
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
}
.list-iteam{
    position: relative;
}
.inbox{
    width: 72px;
    height: 50px;
    background-color: #00BFCB;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    font-size: 24px;
    color: #ffffff;
}
.three-dod{
 display: none;
}

/* start bannar */

.bannar{
    background-color: #FFC400;
    
}

.bannar .container{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 125px;
}

.bannar-content{
    padding-right: 30px;
    width: 60%;
}

.bannar-content h1{
    font-size: 67px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    line-height: 70px;

    
}
.bannar-content p{
    color: #ffffff;
    font-size: 29px;
    font-family: 'Poppins', sans-serif;
    margin-top: 56px;
    


}   
.bannar-buttom{
    margin-top: 80px;
}
.bannar-buttom a{
    padding: 24px 30px;
    font-size: 20px;
    border-radius: 8px;
    
}
.bannar-buttom a:first-child{
    background-color: #00BFCB;
    border: 3px solid #7fa8ab;
    margin-right: 34px;
}
.bannar-buttom a:last-child{
    border: 3px solid #ffffff;
}
.bannar-image{
    width: 40%;
}
.bannar-image img{
    width: 100%;
}

/* bannar end */

/* Love fo animals start */

.love-of-animal .container{
    padding: 140px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.love-of-animal .container .text-content{
    width: 50%;
}
.love-of-animal .container .text-content h2{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    line-height: 52px;
    color: #313243;

}
.love-of-animal .container .text-content p{
    font-size: 29px;
    color: #313243;
    padding-right: 30px;
    font-family: 'Poppins', sans-serif;
    margin-top: 44px;

}
.love-of-animal .container .text-content a{
    padding: 24px 30px;
    background-color: #FFC400;
    border-radius:  8px;
    display: inline-block;
    margin-top: 44px;
}
.love-of-animal .container .image-content{
    width: 50%;
    padding: 44px;
}
.love-of-animal .container .image-content img{
    width: 100%;
}


/* Love of animals end */


/* Service start */

.service-section{
    background-color: #FFC400;
}
.service-section .container{
    padding-top: 102px;
    padding-bottom: 90px;
}

.service-heading{
   text-align: center;
    color: #ffffff;

}
.service-heading h2{
    font-size: 76px;
    font-family: 'Poppins', sans-serif;
}
.service-heading p{
    font-size: 34px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0 124px;
    line-height: 36px;
}

.service-body{
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}
.service-body .service-item{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.service-body .service-item img{
    width: 100%;
}
.service-body .service-item h3{
    font-size: 38px;
    margin-top: 48px;
    margin-bottom: 20px;
}
.service-body .service-item p{
    text-align: center;
    font-size: 24px;
}

/* Service end */

/* love of animals-2 */
.love-of-animals-2 .container .image-content{
    width: 50%;
    padding: 44px;

}
.love-of-animals-2 .container .image-content img{
    width: 100%;
}
.love-of-animals-2 .container{
    padding: 140px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;


}
.love-of-animals-2 .container .text-content{
    width: 50%;
    direction: rtl;
}
.love-of-animals-2 .container .text-content h2{
    font-size: 50px;
    line-height: 52px;
    color: #313243;

}
.love-of-animals-2 .container .text-content p{
    font-size: 29px;
    color: #313243;
    padding-left: 30px;
    margin-top: 44px;
}
.love-of-animals-2 .container .text-content a{
    padding: 24px 30px;
    background-color: #FFC400;
    border-radius:  8px;
    display: inline-block;
    margin-top: 44px;
    
}

/* love of animals-2 end */

/* Get Offer start */
.get-offer{
    background-color:#FFC400 ;
}

.get-offer .container{
    padding-top: 110px;
    padding-bottom: 108px;
}
.get-offer .get-offer-heading{
    text-align: center;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;

}

.get-offer .get-offer-heading h2{
    font-size: 76px;
}
.get-offer .get-offer-heading p{
    font-size: 34px;
    padding: 0 140px;
    line-height: 36px;
}
.get-offer-body{
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    margin-top: 98px;
    color: #ffffff;
}

.get-offer-body .get-offer{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.get-offer-body .get-offer h3 samp{
    text-decoration: line-through;
    font-weight: 600;
}
.get-offer-body .get-offer h3{
    font-size: 42px;
    margin-top: 40px;
    margin-bottom: 26px;
}

.get-offer-body .get-offer a{
    padding: 12px 42px;
    background-color: #00BFCB;
    border-radius:   40px;
    display: inline-block;
    font-size: 25px;
}


/* Get Offer end */

/* vetcare team start */
.vetcare-team .container{
    padding-top: 144px;
    padding-bottom: 140px;

}
.vetcare-team .container .vetcare-team-heading{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #313243;
}
.vetcare-team .container .vetcare-team-heading h3{
    font-size: 76px;
}
.vetcare-team .container .vetcare-team-heading p{
    font-size: 34px;
    padding: 0 140px;
    line-height: 36px;
}
.vetcare-team .container .vetcare-team-body{
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
    margin-top: 100px;
    color: #313243;
}
.vetcare-team-body .vetcare-team{
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;

}
.vetcare-team-body .vetcare-team h3{
    font-size: 29px;
    padding-top: 40px;
}
.vetcare-team-body .vetcare-team h4{
    font-size: 20px;
    padding-bottom: 20px;
}

.icon-bottom{
background-color: #EAAE00;
border-radius: 50%;
border: 1px solid #EAAE00;
 padding: 8px 8px;
}
.bottom a{
    padding: 0px 5px;
}

/* vetcare team start */

/* background-iamge start */
.background-image{
    background-image: url("./img/background-image.png");
    height: 580px;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-image .container{
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
    padding: 160px 0px;
   
}
.background-image .container .bagd-body{
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}
.background-image .container .bagd-body h3{
    padding-top: 60px;
    font-size: 42px;
}
    
.background-image .container .bagd-body h4{
    font-size: 38px;
}
/* background-iamge end */

/* Recent posts start */
.recent-posts .container{
    padding-top: 140px;
    padding-bottom: 142px;
}
.recent-posts .container .recent-heading{
text-align: center;
font-family: 'Poppins', sans-serif;
color: #313243;

}
.recent-posts .container .recent-heading h2{
    font-size: 76px;
}
.recent-posts .container .recent-heading p{
    font-size: 34px;
    padding: 0 140px;
    line-height: 36px;

}
.recent-posts .container .recent-body{
    display: flex;
    margin-top: 98px;
    justify-content: space-between;
}
.recent-content{
    font-family: 'Poppins', sans-serif;
    border: 1px solid #D7D7D7;
    border-top: none;
    width: 105%;
   

    
}
.ima{
    width: 30%;
}
.image-recent{
    width: 30%;
    
}

.recent-content h2{
    font-size: 25px;
    padding-right: 30px;
    padding-top: 32px;
    line-height: 30px;
    padding-left: 33px;
}
.recent-content h4{
    font-size: 18px;
    padding-top: 20px;
    color: #00BFCB;
    padding-left: 33px;
}

.recent-content p{
    font-size: 18px;
    padding-top: 32px;
    padding-left: 33px;
    padding-right: 20px;
}
.recent-content h3{
    font-size: 21px;
    padding-left: 33px;
    padding-top: 30px;
    color: #00BFCB;
    padding-bottom: 32px;
}

.recent-body {
    width: 100%;
}
.image-recent{
    width: 30%;
}

/* Recent posts end */

/* last page start */
.last-page{
    background-color: #313131;
}
.last-page .container{
    display: flex;
    color: #ffffff;
    justify-content: space-between;
}
.last-page .container .left-div{
display: flex;
justify-content: space-between;
width: 100%;
margin-top: 166px;
margin-bottom: 220px;
}
.last-page .container .right-div{
    margin-top: 158px;
    margin-bottom: 190px;
    font-family: 'Poppins', sans-serif;
    direction: rtl;
   
}
.last-page .container .right-div h2{
    font-size: 38px;

}
.last-page .container .right-div p{
    font-size: 25px;
   
}

.right-div .list-iteam{
    position: relative;
}

.ground{
    padding-top: 80px;
}
.right-div .input{
    width: 530px;
    height: 90px;
    background-color: #FFC400;
    border: none;
    padding: 0 14px;

}
.right-div .inbox{
    width: 144px;
    height: 90px;
    background-color: #00BFCB;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-div .icon{
    font-size: 35px;
    color: #ffffff;
}
.right-div{
    width: 30%;
}




.first-content{
    font-family: 'Poppins', sans-serif;
    width: 40%;
}
.first-content h2{
    font-size: 38px;
    padding-bottom: 38px;
    padding-right: 82px;
    
}
.first-content h3{
    font-size: 25px;
    padding-right: 70px;
    font-weight: 100;
   
}
.second-content{
    padding-right: 140px;
    font-family: 'Poppins', sans-serif;
    width: 60%;
   
}
.second-content h2{
font-size: 38px;
padding-bottom: 38px;

}
.second-content h3{
    font-size: 25px;
    padding-right: 65px;
    font-weight: 100;
}
.right-div .bottom{
    margin-top: 40px;
}
.right-div .bottom a{
    padding: 0px 5px;
    font-size: 30px;
    color: black;
}
.right-div .icon-bottom{
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #ffffff;
     padding: 15px 15px;
    }
/* last page end */






/* ==============Responsive Start================ */



@media screen and (max-width: 1250px) {
    .header-logo{
        width: 80%;
    }
   
    .mode li a{
        padding: 5px 10px;
        font-size: 20px;
        
    }
    .input{
        width: 180px;
        height: 40px;
        padding: 0 12px;
    }
    .inbox{
        width: 50px;
        height: 40px;
    }
    .icon{
        font-size: 15px;
    }
    .input::placeholder{
        font-size: 15px;
    }
   
.header .container{ 
    padding: 10px 0px;
}

.bannar .container{
    padding-top: 80px;
    padding-bottom: 100px;
}
.bannar-content{
    padding-right: 20px;
   
}

.bannar-content h1{
    font-size: 50px;
    line-height: 54px;

    
}
.bannar-content p{ 
    font-size: 20px;
    margin-top: 45px;
}   
.bannar-buttom{
    margin-top: 70px;
}
.bannar-buttom a{
    padding: 10px 15px;
    font-size: 20px;
}

/* =======section-scound========== */
.love-of-animal .container{
    padding: 100px 0;
   
}
.love-of-animal .container .text-content h2{
    font-size: 40px;
    line-height: 42px;
   

}
.love-of-animal .container .text-content p{
    font-size: 20px;
    padding-right: 20px;
    margin-top: 40px;

}
.love-of-animal .container .text-content a{
    padding: 14px 18px;
    margin-top: 40px;
}
.love-of-animal .container .text-content{
    margin-left: 10px;
}
.service-section .container{
    padding-top: 80px;
    padding-bottom: 70px;
}
.service-heading h2{
    font-size: 60px;
   
}
.service-heading p{
    font-size: 28px;
    padding: 0 90px;
    line-height: 32px;
}
.service-body .service-item h3{
    font-size: 28px;
    margin-top: 38px;
    margin-bottom: 16px;
}
.service-body .service-item p{
    font-size: 18px;
}


}





@media screen and (max-width: 900px) {
    .header-menu{
        display: none;
    }
    .header-menu .mode{
        flex-direction: column;
        position: absolute;
        top: 100px;
        right: 0px;
        background-color: #53354A;
       
    }
    .list-iteam{
        display: none;
    }
    .mode li a{
        color: #ffffff;
    }
    .mode li{
        border-bottom: 1px solid #f4f3f3;
    }
    .mode li:last-of-type{
        border-bottom: none;
    }
    .mode{
        display: inline-block;
       
      
    }
    .header-menu.active{
        display: inline-block;
    }
    .three-dod{
        display: inline-block;
       }
       .bannar .container{
        display: inline-block;
       
    }
       
       .bannar-content{
        width: 100%;
        text-align: center;
        padding-right: 0px;
    }
    .bannar-image{
        width: 100%;
        margin-top: 50px;
      text-align: center;
    }
    .bannar .container{
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .love-of-animal .container{
        display: inline-block;
        text-align: center;
    }
    .love-of-animal .container .text-content{
        width: 100%;
        padding: 0 28px;
    }
    .love-of-animal .container .image-content{
        width: 100%;
      
    }
    .service-heading h2{
        font-size: 50px;
       
    }
    .service-heading p{
        font-size: 20px;
        padding: 0 60px;
        line-height: 24px;
    }
    .service-body .service-item h3{
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 16px;
    }
    .service-body .service-item p{
        font-size: 16px;
    }
    .service-body{ 
        margin-top: 60px;
    }





}

@media screen and (max-width: 700px) {
    .bannar-content h1{
        font-size: 40px;
        line-height: 44px;
}
    .bannar-buttom a{
         padding: 5px 10px;
         font-size: 14px;
}
.bannar-buttom a:first-child{
    border: 2px solid #00BFCB;
    
}
.bannar-buttom a:last-child{
    border: 2px solid #ffffff;
}
.bannar-buttom{
    margin-top: 40px;

}
}

@media screen and (max-width: 650px) {
    .service-body{
    display: inline-block;
     
    }
    .service-body .service-item{
        width: 100%;
        flex-direction: column;

    }
    .service-body .service-item p{
       margin-bottom: 20px;
    }
    .service-heading p{
        padding: 0 30px;
    }
    
    .service-body{ 
        margin-top: 40px;
    }
    .service-section .container{
        padding-top: 60px;
        padding-bottom: 50px;
    }
    
}

@media screen and (max-width: 500px) {
    .bannar-content h1{
        font-size: 36px;
        line-height: 40px;
}
.bannar-content p{ 
    font-size: 20px;
    margin-top: 40px;
}
.header-logo a img{
    width: 80%;
}
.love-of-animal .container{
    padding: 80px 0;
   
}
.love-of-animal .container .text-content h2{
    font-size: 30px;
    line-height: 34px;
   

}
.love-of-animal .container .text-content p{
    font-size: 16px;
    padding-right: 18px;
    margin-top: 36px;

}
.love-of-animal .container .image-content{
    padding: 20px;
}
.love-of-animal .container .text-content{
    padding: 0 20px;
    margin-right: 5px;
    margin-left: 5px;
}
.service-heading h2{
    font-size: 40px;
   
}



}
@media screen and (max-width: 350px){
    .bannar-content h1{
        font-size: 30px;
        line-height: 34px;
}
.bannar-content p{ 
    font-size: 16px;
    margin-top: 30px;
}
.love-of-animal .container .text-content{
    padding: 0px;
}
.love-of-animal .container .text-content h2{
    font-size: 26px;
    line-height: 30px;
   

}
.love-of-animal .container .text-content p{
    font-size: 15px;
    padding-right: 0px;
  

}

}





